<form [formGroup]="guestform" novalidate style="padding:30px">
<div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" required>
                <mat-error>
                    First Name is required!
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName" required>
                <mat-error>
                    Last Name is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>
                    Email is required!
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="contact" required>
                <mat-error>
                    Phone is required!
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">

            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select placeholder="Country" formControlName="countryId">
                    <mat-option *ngFor="let item of country" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    country is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>ID Type</mat-label>
                <mat-select placeholder="ID Type" formControlName="identificationTypeId">
                    <mat-option *ngFor="let item of identity" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    ID Type is required!
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-label>ID Number</mat-label>
                <input matInput placeholder="ID Number" formControlName="iDnumber" required>
                <mat-error>
                    ID number is required!
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">
        <div fxLayout="column">
            <mat-checkbox formControlName="allowEmails" [labelPosition]="'before'">Receive Information via Mail ?</mat-checkbox>
            <mat-checkbox formControlName="allowSMS" [labelPosition]="'before'">Receive Information via SMS ?</mat-checkbox>
            <mat-checkbox formControlName="allowPromotionsNewsletters" [labelPosition]="'before'">Receive Information about
                promotions and events from this hotel ?</mat-checkbox>
        </div>
        </div>
    </div>
</div>
<div class="container" fxLayout="row" fxLayoutWrap fxLayoutAlign="center start" style="padding-bottom:10px">
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center start" fxLayoutGap="1%">
        <div class="column" fxFlex="50%">
            <button mat-raised-button color="accent" (click)="save()" [disabled]="guestform.invalid" fxFlex="100%">
                Save
            </button>
        </div>
        <div class="column" fxFlex="50%">
            <button mat-raised-button color="primary" (click)="clearform()" [disabled]="guestform.invalid" fxFlex="100%">
                Clear
            </button>
        </div>
    </div>
</div>
</form>
