<div class="page-layout blank p-24" fusePerfectScrollbar>
    <mat-card>
        <mat-card-content>
            <mat-tab-group mat-stretch-tabs [selectedIndex]="selectedIndex" (selectedTabChange)="tabchanged($event)">
                <mat-tab label="All Room Prices">
                    <app-list-roomprice (componentEvent)="receiveSelectedindex($event)"></app-list-roomprice>
                </mat-tab>
                <mat-tab label="New Room Price">
                    <app-new-roomprice (componentEvent)="receiveSelectedindex($event)"></app-new-roomprice>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>