<div id="products" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!--CENTER-->
    <div class="center">

          <!-- HEADER -->
          <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
          fxLayoutAlign.gt-xs="space-between center">

          <!-- APP TITLE -->
          <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  account_box
              </mat-icon>
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  FACILITY
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-input-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row"
              fxLayoutAlign="start center">
               <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                   <mat-label>Facility</mat-label>
                   <mat-select (selectionChange)="getFacility($event.value)">
                       <mat-option *ngFor="let item of facilities" [value]="item.id">
                           {{item.name}}
                       </mat-option>
                   </mat-select>
                   <mat-error>
                       Please select facility
                   </mat-error>
               </mat-form-field>
              <label for="search" class="mr-8">
                  <mat-icon class="secondary-text">search</mat-icon>
              </label>
              <mat-form-field floatLabel="never" fxFlex="1 0 auto">
                  <input id="search" matInput #filter placeholder="Search" (keyup)="applyFilter($event.target.value)">
              </mat-form-field>
          </div>
          <!-- / SEARCH -->

          <button mat-raised-button class="add-product-button mat-white-bg my-12 mt-sm-0" (click)="create()">
              <span>ADD ITEM</span>
          </button>
      </div>

    </div>