// Import Fuse core library
@import "@fuse/scss/core";
$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
 
@import '~material-design-icons-iconfont/src/material-design-icons';


// -----------------------------------------------------------------------------------------------------
// @ Multiple material themes example
// -----------------------------------------------------------------------------------------------------

// Define the Material palettes
$yellow-theme-primary: mat-palette($mat-fusedark);
$yellow-theme-accent: mat-palette($mat-yellow, 600, 400, 700);
$yellow-theme-warn: mat-palette($mat-red);

// Create the Material theme object
$yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);

// Add ".yellow-theme" class to the body to activate this theme
.yellow-theme {

    // Generate the Angular Material theme
    @include angular-material-theme($yellow-theme);

    // Generate the fuse color classes with the new colors...
    @include generateFuseColorClasses($yellow-theme-primary, $yellow-theme-accent, $yellow-theme-warn);
}

.group {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 28px 16px 8px 16px;
    margin: 16px 0;
    h2 {
        position: absolute;
        top: -11px;
        left: 8px;
        margin: 0;
        padding: 0 8px;
        font-size: 20px;
        font-weight: 500;
        background: white;
        color: #e5a044;
    }
    h3 {
        font-size: 14px;
        font-weight: 500;
        margin: 24px 0 16px 0;
        padding: 0;
        color: #e5a044;
        &:first-of-type {
            margin-top: 0;
        }
    }
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}